<div 
  class="py-2 pb-10 md:bg-white md:flex-1 bg-blue-50"
>
  <div 
    *ngIf="message"
  >
    <app-alert [status]="status" [id]="message" [colorStatus]="colorStatus"></app-alert>
  </div>

  <h5 
    class="my-4 text-sm font-bold text-blue-400 mb-5 text-center md:text-left text-CompanyBlue" 
    style="color : #380061"
  >
    Forgot Password
  </h5>

  <form 
    [formGroup]="forgetForm"
    action="#" 
    class="flex flex-col space-y-5"
  >
    <div 
      class="flex flex-col space-y-1"
    >                
      <input-field
        [id]="'email'"
        #email
        [name]="'email'"
        [placeholder]="'Enter email'"
        [type]="'email'"
        [value]="value"
        formControlName="email"
        [customErrorMessages]="errorMessages"
      >
      </input-field>
    </div>
    <div>
      <button
        (click)="forgot()"
        class="w-full px-4 pt-5 pb-5 text-lg font-semibold text-white transition-colors duration-300 hover:text-red-200
        bg-CompanyBlue rounded-md shadow hover:bg-red-600 hover:border-3 hover:border-white-400 focus:outline-red focus:ring-blue-200 focus:ring-4"
      >
        <app-spinner *ngIf="showLoading"></app-spinner>
        <div 
          class="flex flex-col space-y-1 items-center justify-between" 
          *ngIf="!showLoading"
        >
          <h3>Submit</h3>
        </div>
      </button>
    </div>
             
    <div 
      class="flex flex-col space-x-2 justify-content-between"
    >
      <div 
        class="flex justify-between"
      >
        <a 
          [routerLink]="['/']" 
          class="text-sm text-blue-600 hover:underline focus:text-blue-800 -mt-2 mb-3"
        >
          Login
        </a>
        <a 
          [routerLink]="['/register']" 
          class="text-sm text-blue-600 hover:underline focus:text-blue-800 -mt-2 mb-3"
        >
          Register
        </a>
      </div>
    </div>

  </form>
</div>