<div 
  class="py-2 pb-10 md:bg-white md:flex-1 bg-blue-50"
>
    <h5 
      class="my-4 text-lg font-bold text-blue-900 mb-5 text-center md:text-left text-CompanyBlue"
    >
      Account Login
    </h5>

    <div 
      *ngIf="message"
    >
      <app-alert 
        [status]="status" 
        [id]="message" 
        [colorStatus]="colorStatus"
      >
        </app-alert>
    </div>
            
    <form 
      [formGroup]="loginForm"
      class="flex flex-col space-y-5"
    >
      <div 
        class="flex flex-col space-y-1"
      >
        <input-field
          [id]="'email'"
          #email
          [name]="'email'"
          [placeholder]="'admin@company.com'"
          [type]="'email'"
          [value]="'admin@company.com'"
          formControlName="email"
          [customErrorMessages]="errorMessages"
       >
       </input-field>
      </div>
      
      <div 
        class="flex flex-col space-y-1"
      >
        <input-field
          [id]="'password'"
          #password
          [name]="'password'"
          [placeholder]="'password'"
          [type]="'password'"
          [value]="'password'"
          formControlName="password"
          [customErrorMessages]="errorMessages"
        >
        </input-field>
      </div>
      
      <div
        class="flex flex-col space-y-1"
      >
      </div>
      <div>
        <buttonn 
          (sendData)="authenticate()"
          [disabled]="disabled"
        >
          <app-spinner *ngIf="showLoading"></app-spinner>
          <div 
            class="flex flex-col space-y-1 items-center justify-between" 
            *ngIf="!showLoading"
          >
            <h3>Login</h3>
          </div>
        </buttonn>
      </div>
      
      <div 
        class="flex flex-col space-x-2 justify-content-between"
      >
        <div 
          class="flex justify-between"
        >
          <a 
            [routerLink]="['/forgot']" 
            class="text-sm text-blue-600 hover:underline focus:text-blue-800 -mt-2 mb-3"
          >
            Forgot
          </a>
          <a 
            [routerLink]="['/register']" 
            class="text-sm text-blue-600 hover:underline focus:text-blue-800 -mt-2 mb-3"
          >
            Register
          </a>
          <a 
            [routerLink]="['/reset']" 
            class="text-sm text-blue-600 hover:underline focus:text-blue-800 -mt-2 mb-3"
          >
            Reset
          </a>
        </div>
      </div>

    </form>

</div>
  