<div 
  class="w-12/12 justify-center items-center pt-10"
>
  <div 
    class="grid grid-cols-1 gap-2 mb-5"
  >          
    <div 
      class="flex flex-col space-y-1"
    >
      <input-field
        [id]="'firstname'"
        [name]="'firstname'"
        [placeholder]="'Enter fisrt name'"
        [type]="type"
        [value]="value"
      >
      </input-field>
    </div>
    <div 
      class="flex flex-col space-y-1"
    >
      <input-field
        [id]="'surname'"
        [name]="'surname'"
        [placeholder]="'Enter surname'"
        [type]="type"
        [value]="value"
      >
      </input-field>
    </div>
  </div>

  <div 
    class="grid grid-cols-1 gap-5 mb-5"
  >   
    <div 
      class="flex flex-col space-y-1"
    >
      <input-field
        [id]="'phone'"
        [name]="'phone'"
        [placeholder]="'Give your phone number'"
        [type]="type"
        [value]="value"
      >
      </input-field>
    </div>
    <div 
      class="flex flex-col space-y-1"
    >
      <input-field
        [id]="'email'"
        [name]="'email'"
        [placeholder]="'Enter a valid email'"
        [type]="type"
        [value]="value"
      >
      </input-field>
    </div>
  </div>

  <div 
    class="grid grid-cols-1 gap-5 mb-5"
  >     
    <div 
      class="flex flex-col space-y-1"
    >
      <input-field
        [id]="'id'"
        [name]="'name'"
        [placeholder]="'Enter password'"
        [type]="type"
        [value]="value"
      >
      </input-field>
    </div>
    <div 
      class="flex flex-col space-y-1"
    >
      <input-field
        [id]="'id'"
        [name]="'name'"
        [placeholder]="'Re-type password'"
        [type]="type"
        [value]="value"
      >
      </input-field>
    </div>
  </div>

  <div 
    class="grid grid-cols-1 mb-5 mt-3"
  >          
    <div 
      class="flex flex-col space-y-1 w-fit"
    >
      <ng-container 
        *ngIf="!showLoading"
      >
        <buttonn 
          (click)="signup()"
        >
          <h3>Submit</h3>
        </buttonn> 
      </ng-container>
            
      <ng-container 
        *ngIf="showLoading"
      >
        <app-spinner 
          *ngIf="showLoading"
        >
        </app-spinner>              
      </ng-container>

    </div>
  </div>         
        
  <div 
    class="flex flex-col space-x-2 justify-content-between"
  >
    <div 
      class="flex justify-between"
    >
      <a 
        [routerLink]="['/auth/login']" 
        class="text-sm text-blue-600 hover:underline focus:text-blue-800 -mt-2 mb-3"
      >
        Login
      </a>
      <a 
        [routerLink]="['/auth/forgot']" 
        class="text-sm text-blue-600 hover:underline focus:text-blue-800 -mt-2 mb-3"
      >
        Forgot
      </a>
    </div>
  </div>

</div>