.spinner {
			display: inline-block;
			position: relative;
			width: 7px;
			height: 11x;
}
.spinner div {
			display: inline-block;
			position: absolute;
			left: 8px;
			width: 16px;
			background: #d3c7ec;
			margin-top: -20px;
			margin-left: -60px;
			animation: spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.spinner div:nth-child(1) {
		 left: 1px;
		 animation-delay: -0.60s;
}
.spinner div:nth-child(2) {
		left: 32px;
		animation-delay: -0.48s;
}
.spinner div:nth-child(3) {
		left: 56px;
		animation-delay: -0.36s;
}
.spinner div:nth-child(4) {
		left: 80px;
		animation-delay: -0.24s;
}
@keyframes spinner {
		0% {
		  top: 28px;
	 	 height: 10px;
		}
		50%, 100% {
	 	 top: 14px;
	  	height: 20px;
		}
}
  

/* .backdrop {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 98;
}

.loading-spinner {
	position: fixed;
	width: 20vw;
	left: 40vw;
	top: 30%;
	z-index: 99;
	background-color: #fff;
	text-align: center;
	padding: 20px;
	border: 1px solid #aaa;
} */