<!-- <div class="col-span-3" style="background-color: #f3f2ff"> -->
    <div 
        class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg"
    >
        <div 
            class="flex items-start justify-between"
        >
            <div 
                class="flex flex-col space-y-2"
            >
                <span 
                    class="text-sm"
                >
                    {{summaries.text}}
                </span>
                <span 
                    class="text-lg font-semibold"
                >
                    {{summaries.nos}}
                </span>
            </div>
            <div 
                class="p-5 bg-CompanyRed rounded-md" 
                *ngIf="box === 'true'"
            >
            </div>
        </div>
        <!-- <div class="flex flex-row col-span-12 justify-start">
            <span class="col-span-6 w-full inline-block text-sm text-black bg-green-00 rounded text-left">14%</span>
            <span class="col-span-6 w-full text-sm text-right">from 2019</span>
        </div> -->
    </div>
<!-- </div> -->