<div 
  class="w-full h-screen md:flex md:items-center md:justify-center p-5 md:p-0 md:mt-0 md:bg-gray bg-red-100 relative"
>
  <div
    class="flex flex-col overflow-hidden md:-mt-60 -mt-0 bg-blue-500 md:bg-white md:rounded-md shadow-lg max md:flex-row md:flex-1 lg:max-w-screen-md md:loginTop"
  >
    <div
      class="px-5 md:mt-10 pb-20 md:-mt-20 pt-20 border-0 border-gray-200 mx-auto md:pt-0 pb-10 text-white bg-white md:w-80 w-full flex-shrink-0 flex flex-col items-center justify-center md:W-full md:loginTop"
    >
      <div 
        class="mt-10 md:mt-10"
      >
        <app-logo></app-logo>
      </div>
    </div>
    <div 
      class="py-5 px-10 pb-10 md:bg-white md:flex-1 bg-blue-50"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>