<div 
                class="grid md:grid-cols-12 grid-cols-12 gap-5 md:p-3 -mt-5 justify-center items-center"
            >
                <div 
                    class="col-span-12 md:col-span-1 py-2"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 hover:fill-current cursor-pointer hover:fill-red-900" (click)="ModalState = 'new-rider'">
                        <path d="M6 3a3 3 0 0 0-3 3v2.25a3 3 0 0 0 3 3h2.25a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3H6ZM15.75 3a3 3 0 0 0-3 3v2.25a3 3 0 0 0 3 3H18a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3h-2.25ZM6 12.75a3 3 0 0 0-3 3V18a3 3 0 0 0 3 3h2.25a3 3 0 0 0 3-3v-2.25a3 3 0 0 0-3-3H6ZM17.625 13.5a.75.75 0 0 0-1.5 0v2.625H13.5a.75.75 0 0 0 0 1.5h2.625v2.625a.75.75 0 0 0 1.5 0v-2.625h2.625a.75.75 0 0 0 0-1.5h-2.625V13.5Z" />
                      </svg>                                            
                </div>
                <div 
                    class="col-span-12 md:col-span-11"
                >
                    <app-search></app-search> 
                </div>
            </div>
            
            <div 
                class="grid md:grid-cols-12 grid-cols-1 gap-5 mb-10 justify-center items-center"
            >
                <section 
                    class="col-span-12 justify-center antialiased text-gray-600 py-2 md:px-2"
                >
                    <div 
                        class="h-full"
                    >
                        <div 
                            class="w-full mx-auto bg-white shadow-lg rounded-sm border border-gray-200"
                        >
                            <header 
                                class="px-5 py-4 border-b border-gray-100"
                            >
                                <h1 
                                    class="font-bold text-red-600 text-lg font-bold"
                                >
                                    {{title}}
                                </h1>
                            </header>
                            <div 
                                class="p-3"
                            >
                                <div 
                                    class="overflow-x-auto"
                                >
                                    <app-table (ModalState)="SeeRiderDetail($event)" [Header]="Header[0].rider" [TableType]="'riders'" [RowAndColumn]="RowAndColumn[0]['riders']" [Action]="Action" [ActionName]="ActionName" [ViewAction]="ViewAction"></app-table>
                                </div>
                            </div>

                            <app-pagination></app-pagination>
                        </div>

                    </div>
                </section>
            </div>

<app-new-rider [ModalState]="ModalState" (FromPackage)="Close($event)"></app-new-rider>

<app-update-rider [ModalState]="ModalState" (FromPackage)="Close($event)"></app-update-rider>

<app-rider-details [ModalState]="ModalState" (FromPackage)="Close($event)"></app-rider-details>

<app-action-on-rider [ModalState]="ModalState" (FromPackage)="Close($event)"></app-action-on-rider>


