<div 
    class="w-full p-5 bg-blue-100 font-bold"
>
    <h1
    >
        Requests
    </h1>
</div>

<div 
    class="grid md:grid-cols-12 gap-3 pt-3 pb-10 md:pr-2 grid-cols-12 items-center justify-center bg-white mt-1"
>     
    <div 
        class='col-span-6'
    >
        <app-switch [label]="'Turn All On'" (changeState)="changeStatus($event)" [switchState]="switchState" [switchingState]="switchingState"></app-switch>
    </div>
    <div 
        class='col-span-6'
    >
        <app-switch [label]="'Turn All Off'" (changeState)="changeStatus($event)" [switchState]="switchState" [switchingState]="switchingState"></app-switch>
    </div>
</div>

<div 
    class="grid md:grid-cols-12 gap-3 mt-5 mb-5 md:pr-2 grid-cols-12 items-center justify-center"
>     
    <div 
        class='col-span-3'
    >
        <app-switch [label]="'Summary'" (changeState)="changeStatus($event)" [switchState]="switchState" [switchingState]="switchingState"></app-switch>
    </div>
    <div 
        class='col-span-3'
    >
        <app-switch [label]="'Top Merchants'" (changeState)="changeStatus($event)" [switchState]="switchState" [switchingState]="switchingState"></app-switch>
    </div>
    <div 
        class='col-span-3'
    >
        <app-switch [label]="'Top Riders'" (changeState)="changeStatus($event)" [switchState]="switchState" [switchingState]="switchingState"></app-switch>
    </div>
    <div 
        class='col-span-3'
    >
        <app-switch [label]="'Requests'" (changeState)="changeStatus($event)" [switchState]="switchState" [switchingState]="switchingState"></app-switch>
    </div>
    <div 
        class='col-span-3'
    >
        <app-switch [label]="'Transactions'" (changeState)="changeStatus($event)" [switchState]="switchState" [switchingState]="switchingState"></app-switch>
    </div>
</div>