
<table 
    class="table-auto w-full"
>
    <thead 
        class="text-xs font-semibold uppercase text-gray-400 bg-CompanyBlue"
    >
        <tr>
            <th 
                class="p-4 whitespace-nowrap" 
                *ngFor="let head of Header"
            >
                <!-- <div class="font-semibold text-left text-white ml-3">{{head.Header}}</div> -->
                <div 
                    *ngIf="head.show === true" 
                    class="font-semibold text-left text-white ml-3 items-center"
                >
                    {{head.Header}}
                </div>
            </th>
        </tr>
    </thead>
    <tbody 
        class="text-sm divide-y divide-gray-100" 
        style="padding-bottom: 100px;"
    >
        <tr 
            *ngFor="let column of RowAndColumn; let i = index" 
            style="padding:50px" 
            class="hover:bg-blue-100 hover:font-bolder hover:text-black h-auto"
        >
            <td 
                *ngFor="let head of Header" 
                class="p-2 whitespace-nowrap"
            >
                <div 
                    class="font-medium text-gray-800 text-left ml-5"
                >
                    {{ column[head.Column] }}
                </div>
                <ng-container 
                        *ngIf="ActionName === 'open-orders'"
                    >
                        <div 
                            class="flex block font-medium text-gray-800 space-between justify-center items-center space-x-5" 
                            *ngIf="head.Column == 'status'"
                        >
                            <button 
                                class="bg-sky-900 hover:bg-sky-700 p-2 text-xs round-full text-white" 
                                (click)="CheckAvailability()"
                            >
                                Availability
                            </button>
                        </div>
                </ng-container>
                    
                <ng-container 
                    *ngIf="ActionName === 'open-orders'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center space-x-5" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="ViewOn(column, i, 'view-order')"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-5 h-5">
                               <path strokeLinecap="round" strokeLinejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                               <path strokeLinecap="round" strokeLinejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </li>
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="UpdateOn(column, i, 'update-order')"
                        >
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                              <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                           </svg>
                        </li>
                        <li 
                           class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                           (click)="Remove(column, i, 'cancel-order')"
                        >
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                             <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                           </svg>
                        </li>
                    </div>
                </ng-container>
                    
                <ng-container 
                    *ngIf="ActionName === 'pending-orders'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center ml-10" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="ViewOn(column, i, 'view-order')"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1" stroke="red" class="w-5 h-5">
                               <path strokeLinecap="round" strokeLinejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                               <path strokeLinecap="round" strokeLinejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </li>
                    </div>
                </ng-container>

                <ng-container 
                    *ngIf="ActionName === 'returned-orders'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center ml-10" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="ViewOn(column, i, 'view-order')"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1" stroke="red" class="w-5 h-5">
                               <path strokeLinecap="round" strokeLinejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                               <path strokeLinecap="round" strokeLinejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </li>
                    </div>
                </ng-container>

                <ng-container 
                    *ngIf="ActionName === 'create-package'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center space-x-5" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="ViewPackage()"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-5 h-5">
                               <path strokeLinecap="round" strokeLinejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                               <path strokeLinecap="round" strokeLinejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </li>
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="UpdatePackage(column, i)"
                        >
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                              <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                           </svg>
                        </li>
                        <li 
                           class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                           (click)="CancelPackage()"
                        >
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                             <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                           </svg>
                        </li>
                    </div>
                </ng-container>

                <ng-container 
                    *ngIf="ActionName === 'shelves'"
                >
                   <div 
                       class="flex block font-medium text-gray-800 space-between justify-left items-left space-x-5" 
                       *ngIf="head.Column == 'status'"
                   >
                       <button 
                          class="bg-sky-900 hover:bg-sky-700 p-2 text-xs round-full text-white w-fit" 
                          (click)="ShelveRoom()"
                       >
                          View All Destination
                       </button>
                   </div>
                </ng-container>
                   
                <ng-container 
                    *ngIf="ActionName === 'riders'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center space-x-5" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="SeeRider()"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-5 h-5">
                               <path strokeLinecap="round" strokeLinejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                               <path strokeLinecap="round" strokeLinejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </li>
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="UpdateRider(column, i)"
                        >
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                              <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                           </svg>
                        </li>
                        <li 
                           class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                           (click)="ActionOn(column, i, 'action-on-rider')"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="brown" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor"  class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m21 7.5-2.25-1.313M21 7.5v2.25m0-2.25-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3 2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75 2.25-1.313M12 21.75V19.5m0 2.25-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25" />
                            </svg>
                        </li>
                    </div>
                </ng-container>
                   
                <ng-container 
                    *ngIf="ActionName === 'report'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center space-x-5" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="ViewReport(column, i)"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-5 h-5">
                               <path strokeLinecap="round" strokeLinejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                               <path strokeLinecap="round" strokeLinejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </li>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="green" viewBox="0 0 24 24" stroke-width={2.5} stroke="currentColor" 
                            class="w-5 h-5 cursor-pointer text-green-700 hover:text-red-600 hover:font-bold hover:text-lg"
                            (click)="DownloadReport(column, i)"
                        >
                          <path strokeLinecap="round" strokeLinejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                        </svg>                        
                    </div>
                </ng-container>
                   
                <ng-container 
                    *ngIf="ActionName === 'staffs'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center space-x-5" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="ViewStaff()"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-5 h-5">
                               <path strokeLinecap="round" strokeLinejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                               <path strokeLinecap="round" strokeLinejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </li>
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="UpdateOn(column, i, 'update-staff')"
                        >
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                              <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                           </svg>
                        </li>
                        <li 
                           class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                           (click)="ActionOn(column, i, 'action-on-staff')"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="brown" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor"  class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m21 7.5-2.25-1.313M21 7.5v2.25m0-2.25-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3 2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75 2.25-1.313M12 21.75V19.5m0 2.25-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25" />
                            </svg>
                        </li>
                    </div>
                </ng-container>
                   
                <ng-container 
                    *ngIf="ActionName === 'merchants'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center space-x-5" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="ViewOn(column, i, 'view-merchant')"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-5 h-5">
                               <path strokeLinecap="round" strokeLinejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                               <path strokeLinecap="round" strokeLinejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </li>
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="UpdateOn(column, i, 'update-merchant')"
                        >
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                              <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                           </svg>
                        </li>
                        <li 
                           class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                           (click)="ActionOn(column, i, 'action-on-merchant')"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="brown" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor"  class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m21 7.5-2.25-1.313M21 7.5v2.25m0-2.25-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3 2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75 2.25-1.313M12 21.75V19.5m0 2.25-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25" />
                            </svg>
                        </li>
                    </div>
                </ng-container>
                   
                <ng-container 
                    *ngIf="ActionName === 'customers'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center space-x-5" 
                        *ngIf="head.status"
                    >
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="ViewOn(column, i, 'update-merchant')"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-5 h-5">
                               <path strokeLinecap="round" strokeLinejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                               <path strokeLinecap="round" strokeLinejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </li>
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="UpdateOn(column, i, 'update-merchant')"
                        >
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                              <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                           </svg>
                        </li>
                        <li 
                           class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                           (click)="ActionOn(column, i, 'action-on-merchant')"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="brown" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor"  class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m21 7.5-2.25-1.313M21 7.5v2.25m0-2.25-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3 2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75 2.25-1.313M12 21.75V19.5m0 2.25-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25" />
                            </svg>
                        </li>
                    </div>
                </ng-container>
                   
                <ng-container 
                    *ngIf="ActionName === 'account'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center space-x-5" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="UpdateOn(column, i, 'update-account')"
                        >
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                              <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                           </svg>
                        </li>
                        <li 
                           class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                           (click)="Remove(column, i, 'delete-account-detail')"
                        >
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                             <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                           </svg>
                        </li>
                    </div>
                </ng-container>  
                
                <ng-container 
                    *ngIf="ActionName === 'inventory'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center space-x-5" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="UpdateOn(column, i, 'update-stock')"
                        >
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                              <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                           </svg>
                        </li>
                        <li 
                           class="text-sm hover:text-gray-800 py-1 text-[11px] border-2 hover:bg-green-700 text-black hover:text-white rounded-lg px-2 flex justify-center items-center cursor-pointer" 
                           (click)="UpdateOn(column, i, 're-stock')"
                        >
                           Re-Stock
                        </li>
                        <li 
                           class="text-sm text-red-300 hover:text-gray-800 py-1 text-[10px] bg-yellow-700 hover:bg-yellow-400 text-white hover:text-black rounded-lg px-2 flex justify-center items-center cursor-pointer" 
                           (click)="UpdateOn(column, i, 'stock-history')"
                        >
                           Stock Hisotry
                        </li>
                        <li 
                           class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                           (click)="Remove(column, i, 'remove-stock')"
                        >
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                             <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                           </svg>
                        </li>
                    </div>
                </ng-container> 
                   
                <ng-container 
                    *ngIf="ActionName === 'transactions'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center space-x-5" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="ViewReport(column, i)"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-5 h-5">
                               <path strokeLinecap="round" strokeLinejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                               <path strokeLinecap="round" strokeLinejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                        </li>                      
                    </div>
                </ng-container> 
                   
                <ng-container 
                    *ngIf="ActionName === 'inventory-approval'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center space-x-2" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                           class="text-sm text-red-300 hover:text-gray-800 py-1 text-[10px] bg-yellow-600 hover:bg-yellow-400 text-white hover:text-black rounded-lg px-2 flex justify-center items-center cursor-pointer" 
                           (click)="emitOut(column, i, 'authorize-stock')"
                        >
                           Authorize
                        </li>                   
                    </div>
                </ng-container>
                   
                <ng-container 
                    *ngIf="ActionName === 'categories'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center space-x-5" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="UpdateOn(column, i, 'update-category')"
                        >
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                              <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                           </svg>
                        </li>
                        <li 
                           class="text-sm text-red-600 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                           (click)="ActionOn(column, i, 'remove-category')"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="w-5 h-5">
                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                           </svg>
                        </li>
                    </div>
                </ng-container> 
                   
                <ng-container 
                    *ngIf="ActionName === 'departments'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center space-x-5" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="UpdateOn(column, i, 'update-department')"
                        >
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                              <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                           </svg>
                        </li>
                        <li 
                           class="text-sm text-red-600 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                           (click)="ActionOn(column, i, 'remove-department')"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="w-5 h-5">
                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                           </svg>
                        </li>
                    </div>
                </ng-container>
                   
                <ng-container 
                    *ngIf="ActionName === 'roles'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center space-x-5" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="UpdateOn(column, i, 'update-role')"
                        >
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                              <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                           </svg>
                        </li>
                        <li 
                           class="text-sm text-red-600 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                           (click)="ActionOn(column, i, 'remove-role')"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="w-5 h-5">
                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                           </svg>
                        </li>
                    </div>
                </ng-container> 
                   
                <ng-container 
                    *ngIf="ActionName === 'rexource'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center space-x-5" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="UpdateOn(column, i, 'update-rexource')"
                        >
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                              <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                           </svg>
                        </li>
                        <li 
                           class="text-sm text-red-600 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                           (click)="ActionOn(column, i, 'remove-rexource')"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="w-5 h-5">
                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                           </svg>
                        </li>
                    </div>
                </ng-container>
                   
                <ng-container 
                    *ngIf="ActionName === 'page'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center space-x-10" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 space-x-5 py-1 flex justify-center items-center cursor-pointer" 
                        >
                            <svg xmlns="http://www.w3.org/2000/svg"  fill="red" viewBox="0 0 24 24" strokeWidth={3} stroke="red"  
                                class="w-5 h-5"
                                (click)="UpdateOn(column, i, 'disconnect-page')"
                            >
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
                            </svg>

                           <svg xmlns="http://www.w3.org/2000/svg"  fill="blue" viewBox="0 0 24 24" strokeWidth={3} stroke="blue"  
                                class="w-5 h-5"
                                (click)="UpdateOn(column, i, 'connect-page')"
                           >
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                            </svg>
                        </li>
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 p-2 hover:bg-green-500 flex justify-center items-center cursor-pointer text-red-600 border-2 rounded-full" 
                            (click)="UpdateOn(column, i, 'new-action')"
                        >
                           <svg xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 24 24" strokeWidth={3} stroke="red"  class="w-5 h-5">
                              <path strokeLinecap="round" strokeLinejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                           </svg>

                        </li>
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 text-blue-600 p-2 bg-blue-300 flex justify-center items-center cursor-pointer text-red-600 border-2 rounded-full" 
                            (click)="UpdateOn(column, i, 'page-action')"
                        >
                            75
                        </li>
                        <li 
                            class="text-sm text-red-300 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                            (click)="UpdateOn(column, i, 'update-page')"
                        >
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                              <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                           </svg>
                        </li>
                        <li 
                           class="text-sm text-red-600 hover:text-gray-800 py-1 flex justify-center items-center cursor-pointer" 
                           (click)="ActionOn(column, i, 'remove-page')"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="w-5 h-5">
                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                            </svg>
                        </li>
                    </div>
                </ng-container>
                   
                <ng-container 
                    *ngIf="ActionName === 'linkUnlink'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center space-x-2" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                           class="text-sm hover:text-gray-800 py-1 text-[11px] border-2 hover:bg-green-700 text-black hover:text-white rounded-lg px-2 flex justify-center items-center cursor-pointer" 
                           (click)="UpdateOn(column, i, 'link-unlink')"
                        >
                           Link
                        </li>
                        <li 
                           class="text-sm text-red-300 hover:text-gray-800 py-1 text-[10px] bg-yellow-700 hover:bg-yellow-400 text-white hover:text-black rounded-lg px-2 flex justify-center items-center cursor-pointer" 
                           (click)="UpdateOn(column, i, 'link-unlink')"
                        >
                           Unlink
                        </li>
                    </div>
                </ng-container>

                <ng-container 
                    *ngIf="ActionName === 'page-actions'"
                >
                    <div 
                        class="flex block font-medium text-gray-800 gap-5 items-center space-x-2" 
                        *ngIf="head.Column == ''"
                    >
                        <li 
                           class="text-sm hover:text-gray-800 py-1 text-[11px] border-2 hover:bg-green-700 text-black hover:text-white rounded-lg px-2 flex justify-center items-center cursor-pointer" 
                           (click)="UpdateOn(column, i, 'link-unlink')"
                        >
                           Link
                        </li>
                        <li 
                           class="text-sm text-red-300 hover:text-gray-800 py-1 text-[10px] bg-yellow-700 hover:bg-yellow-400 text-white hover:text-black rounded-lg px-2 flex justify-center items-center cursor-pointer" 
                           (click)="UpdateOn(column, i, 'link-unlink')"
                        >
                           Unlink
                        </li>
                    </div>
                </ng-container>
                 
                   
                <!-- <ng-container 
                    *ngIf="ActionName === 'inventory-approval'"
                >
                    <app-inventory-stock-approval></app-inventory-stock-approval>
                </ng-container>  -->

            </td>
        </tr>
    </tbody>
</table>