<div 
  class="px-2 pb-10 md:bg-white md:flex-1 bg-blue-50"
>
  <div 
    *ngIf="message"
  >
    <app-alert [status]="status" [id]="message" [colorStatus]="colorStatus"></app-alert>
  </div>

  <h5 
    class="my-4 text-lg font-bold text-blue-400 mb-5 text-center md:text-left text-CompanyBlue" style="color : #380061"
  >
    Ge A New Password
  </h5>

  <form 
    action="#" 
    class="flex flex-col space-y-5"
  >
    <div 
      class="flex flex-col space-y-1"
    >
      <!-- <label for="email" class="text-sm font-semibold text-gray-500">Email address</label> -->
      <input
        type="password"
        #password
        id="password"
        placeholder="Enter Pasword"
        class="p-4 border-2 border-gray-200 shadow-md bg-white text-black rounded-lg w-full"
      />
    </div>
    <div 
      class="flex flex-col space-y-1"
    >
      <!-- <label for="email" class="text-sm font-semibold text-gray-500">Email address</label> -->
      <input
        type="password"
        #password
        id="password"
        placeholder="Enter Pasword"
        class="p-4 border-2 border-gray-200 shadow-md bg-white text-black rounded-lg w-full"
      />
    </div>
    <div>
      <button
        (click)="authenticate()"
        class="w-full px-4 pt-5 pb-5 text-lg font-semibold text-white transition-colors duration-300 hover:text-red-200
             bg-CompanyBlue rounded-md shadow hover:bg-red-600 hover:border-3 hover:border-white-400 focus:outline-red focus:ring-blue-200 focus:ring-4"
      >
        <app-spinner *ngIf="showLoading"></app-spinner>
        <div 
          class="flex flex-col space-y-1 items-center justify-between" 
          *ngIf="!showLoading"
        >
          <h3>Reset</h3>
        </div>
      </button>
    </div>
  </form>

</div>

<div 
  class="flex flex-col space-x-2 px-3 justify-content-between"
>
  <div 
    class="flex justify-between"
  >
    <a 
      [routerLink]="['/']" 
      class="text-sm text-blue-600 hover:underline focus:text-blue-800 -mt-2 mb-3"
    >
      Login
    </a>
    <a 
      [routerLink]="['/register']" 
      class="text-sm text-blue-600 hover:underline focus:text-blue-800 -mt-2 mb-3"
    >
      Register
    </a>
  </div>
</div>          