<div 
    class="w-full flex h-2/12 px-5 py-4 flex shadow-lg justify-start items-center content-evenly space-x-2 border-3 border-slate-500 bg-red-600"
> 
  <div 
    class="w-10/12 flex gap-5"
  >
    <img 
        src="../assets/man.jpg" 
        class="rounded-full" 
        alt="logo" 
        height="80" 
        width="80" 
    />    
    <div 
      class="flex flex-col -mt-6 pl-1"
    >
      <p 
         class="w-full text-md mt-5 text-white"
      >
        Grace Favour
      </p> 
      <p 
        class="w-full font-bold text-md text-blue-200"
      >
        Manager
      </p>                
    </div>
  </div> 
  <div 
    class="w-2/12 text-white hover:text-yellow-400 cursor-pointer"
  >
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-7 hover:border-white">
      <path stroke-linecap="round" stroke-linejoin="round" d="M5.636 5.636a9 9 0 1 0 12.728 0M12 3v9" />
    </svg>
  </div> 
</div>