/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f6c5f2;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #aa09d2;
  }