<div 
    class="flex w-full h-full"
>
    <section 
        class="flex flex-col w-3/12 border-y-2 bg-gray-20 h-[28rem] overflow-y-scroll shadow-md scrollbar-thin scrollbar-thumb-black-300 scrollbar-track-white"
    >
        <label 
            class="py-0 static"
        >
            <h3 
                class="text-sm text-center bg-CompanyBlue text-white py-4 font-bold"
            >
                Operation Moderation
            </h3>
        </label>
        <ul 
            *ngFor="let component of dynamicComponents;  let currentTab = index"
        >
            <li 
                [ngClass]="activeTab === currentTab ? 'active-tab': ''" 
                class="border-b-2 shadow-md border-black-500 py-1 font-bold hover:text-white hover:font-bold text-gray-600 bg-blue-300 hover:bg-red-300" 
                (click)="loadComponent(component, currentTab)"
            >
                <a 
                    [routerLink]="[component.data.name]" 
                    routerLinkActive="active-link" 
                    class="w-5/5 relative justify-center items-end flex p-3 pl-3 text-sm" 
                    (click)="setActive(currentTab)"
                >                            
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-3">
                        <path d="M4.5 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM14.25 8.625a3.375 3.375 0 1 1 6.75 0 3.375 3.375 0 0 1-6.75 0ZM1.5 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM17.25 19.128l-.001.144a2.25 2.25 0 0 1-.233.96 10.088 10.088 0 0 0 5.06-1.01.75.75 0 0 0 .42-.643 4.875 4.875 0 0 0-6.957-4.611 8.586 8.586 0 0 1 1.71 5.157v.003Z" />
                    </svg> -->
                    <span 
                        class="w-4/5"
                    >
                        {{ component.data.name }}
                    </span>   
                </a>
            </li>
        </ul>
    </section>                                            
    <section 
        class="w-9/12 p-1 flex flex-col  h-[28rem] overflow-y-scroll shadow-md scrollbar-thin scrollbar-thumb-black-300 scrollbar-track-white bg-blue-100"
    >        
        <div 
            class="w-full p-5 bg-white h-full justify-center items-center" 
            style="padding-top: 100px;" 
            *ngIf="activeTab === -1"
        >
            <h1 
                class="font-bold text-lg text-center"
            >
                The Section of the app allows controls the way the application works
            </h1>
        </div>
        
        <ng-template TabWrapper></ng-template>
        
    </section>
</div>
