<div 
   class="flex w-full pl-1 pr-3 pt-3 mb-8 header justify-between bg-blue-100"
>
  <span 
    class="font-bold header p-3 bg-blue-100 w-full"
  >
     {{HeaderTitle}}
  </span>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="round-full w-7 h-7 right cursor-pointer hover:fill-red-900 hover:border-2" (click)="modalService.showDialog = false">
     <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
  </svg> 
</div>