<div class='flex'>

    <div class="lg:w-1/5 lg:visible"> 
        <aside class="fixed top-0 left-0 w-1/5 duration-500 h-full hidden lg:block md:block  bg-CompanyRed" aria-label="Sidenav">        
            <div class="overflow-y-auto drop-shadow-xl scrollbar-thin scrollbar-thumb-blue-200 scrollbar-track-red-400 hover:scrollbar-thumb-blue-400 h-full relative dark:bg-gray-800 dark:border-gray-700">
                <div class='static top-0 left-0 right-0'>
                    <app-sidebar></app-sidebar>
                </div>
            </div>
        </aside>
    </div>
        
    <div class="lg:w-4/5 md:w-4/5 w-full flex lg:flex-row px-3">
        <div class="w-full">

            <!-- <app-alert [status]="status" [message]="message" [colorStatus]="colorStatus"></app-alert> -->

            <!-- <app-switch (changeState)="changeStatus($event)" [switchState]="switchState" [switchingState]="switchingState"></app-switch> -->
            
            <div class="grid md:grid-cols-12 grid-cols-6 gap-5 py-2 mt-2 mb-5 justify-center items-center">
                <div class="col-span-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 ml-5">
                        <path fillRule="evenodd" d="M3 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 5.25Zm0 4.5A.75.75 0 0 1 3.75 9h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 9.75Zm0 4.5a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Zm0 4.5a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clipRule="evenodd" />
                    </svg>                        
                </div>
                <div class="col-span-8">
                    <!-- <app-search></app-search> -->
                </div>

                <div class="col-span-3 pr-5">
                    <app-notifications></app-notifications>
                </div>
            </div>
            
            <div class="grid md:grid-cols-12 grid-cols-12 gap-5 md:p-3 mt-2 mb-5 justify-center items-center">
                <div class="col-span-12 md:col-span-1 py-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 hover:fill-current cursor-pointer hover:fill-red-900" (click)="modalService.addDialog = true">
                        <path d="M6 3a3 3 0 0 0-3 3v2.25a3 3 0 0 0 3 3h2.25a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3H6ZM15.75 3a3 3 0 0 0-3 3v2.25a3 3 0 0 0 3 3H18a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3h-2.25ZM6 12.75a3 3 0 0 0-3 3V18a3 3 0 0 0 3 3h2.25a3 3 0 0 0 3-3v-2.25a3 3 0 0 0-3-3H6ZM17.625 13.5a.75.75 0 0 0-1.5 0v2.625H13.5a.75.75 0 0 0 0 1.5h2.625v2.625a.75.75 0 0 0 1.5 0v-2.625h2.625a.75.75 0 0 0 0-1.5h-2.625V13.5Z" />
                      </svg>                                            
                </div>
                <div class="col-span-6 md:col-span-1">
                    <app-select [name]="'pages'" [options]="pageNumbers"></app-select>
                    <!-- <app-select [name]="'- Select Marital Status - '" [options]="maritalStatus"></app-select> -->
                </div>
                <div class="col-span-6 md:col-span-2">
                    <app-select [name]="name" [options]="options"></app-select>                                       
                </div>
                <div class="col-span-12 md:col-span-5">
                    <app-input-box [type]="fieldType" [name]="fieldName" [id]="fieldId" [placeholder]="fieldPlaceHolder"></app-input-box>
                </div>
                <div class="col-span-12 md:col-span-2">
                    <app-input-box [type]="'date'" [name]="'dated'" [id]="fieldId"></app-input-box>
                </div>
                <div class="col-12 md:col-span-1">
                    <app-button [buttonText]="buttonText" [buttonColor]="buttonColor"></app-button>                                       
                </div>
            </div>
            
            <div class="grid md:grid-cols-12 grid-cols-1 gap-5 mt-2 mb-10 justify-center items-center">
                <section class="col-span-12 justify-center antialiased text-gray-600 py-2 md:px-2">
                    <div class="h-full">

                        <div class="w-full mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
                            <header class="px-5 py-4 border-b border-gray-100">
                                <h1 class="font-bold text-red-600 text-lg font-bold">{{TableTitle}}</h1>
                            </header>
                            <div class="p-3">
                                <div class="overflow-x-auto">
                                    <app-table [Header]="Header[0].order" [TableType]="'orders'" [RowAndColumn]="RowAndColumn[0]['orders']" [Action]="Action" [Availability]="Availability" [ViewAction]="ViewAction"></app-table>
                                </div>
                            </div>

                            <app-pagination></app-pagination>
                        </div>

                    </div>
                </section>
            </div>

            <app-footer></app-footer>

        </div> 
    </div>
                     
</div>

<app-dialog *ngIf="modalService.showDialog">
    <div class="overflow-x-auto h-[700px] scrollbar-thin scrollbar-thumb-blue-200 scrollbar-track-red-400 hover:scrollbar-thumb-blue-400 px-5">
        <div class="flex w-full pl-1 pr-3 pt-1 mb-8 header justify-between bg-blue-100">
            <span class="font-bold header p-3 bg-blue-100 w-full">Make Order</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="round-full w-7 h-7 right cursor-pointer hover:fill-red-900 hover:border-2" (click)="modalService.showDialog = false">
                <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
            </svg> 
        </div>
        <div class="content overflow-x-auto scrollbar-thin scrollbar-thumb-blue-200 scrollbar-track-red-400 hover:scrollbar-thumb-blue-400">
            <div class="md:flex">
                <div class="w-full px-3 mb-3">
                    <app-label [for]="'Merchant'"></app-label>
                    <app-input-box [type]="'text'" [name]="'merchant'" [value]="''" [id]="'firstname'" [placeholder]="'Enter Merchant Name'" [disabled]="true"></app-input-box>
                </div>
            </div>
            <div class="md:flex">
                <div class="w-full px-3 mb-3">
                    <app-label [for]="'Product Name'"></app-label>
                    <app-input-box [type]="'text'" [name]="'productName'" [value]="''" [id]="'productName'" [placeholder]="'Enter Product Name'" [disabled]="true"></app-input-box>
                </div>
            </div>
            <div class="md:flex mb-3">
                <div class="md:w-1/2 px-3 mb-3">
                    <app-label [for]="'Amount'"></app-label>
                    <app-input-box [type]="'number'" [name]="'amount'" [value]="''" [id]="'amount'" [disabled]="true"></app-input-box>
                </div>
                <div class="md:w-1/2 px-3 mb-3">
                    <app-label [for]="'Quantity'"></app-label>
                    <app-input-box [type]="'number'" [name]="'productQuantity'" [value]="''" [id]="'productQuantity'" [disabled]="true"></app-input-box>
                </div>
                <div class="md:w-1/2 px-3 mb-3">
                    <app-label [for]="'Discount'"></app-label>
                    <app-input-box [type]="'number'" [name]="'productDiscount'" [value]="''" [id]="'productDiscount'" [disabled]="true"></app-input-box>
                </div>
            </div>
            <div class="md:flex">
                <div class="w-full px-3 mb-3">
                    <app-label [for]="'Total'"></app-label>
                    <app-input-box [type]="'text'" [name]="'total'" [value]="''" [id]="'total'" [placeholder]="'Total'" [disabled]="true"></app-input-box>
                </div>
            </div>
        </div>
        <div class="content overflow-auto scrollbar-thin scrollbar-thumb-blue-200 scrollbar-track-red-400 hover:scrollbar-thumb-blue-400 w-full border border-purple-600">
            <app-table [Header]="Header[0].product" [TableType]="'products'" [RowAndColumn]="RowAndColumn[0]['products']" [Action]="Action" [ViewAction]="ViewAction"></app-table>
        </div>
        
        <div class="md:flex mt-2">
            <div class="w-full px-1 mb-3">
                <app-label [for]="'Total Order'"></app-label>
                <app-input-box [type]="'text'" [name]="'totalOrder'" [value]="''" [id]="'totalOrder'" [placeholder]="'Total Order'" [disabled]="true"></app-input-box>
            </div>
        </div>

        <div class="flex w-full">
            <span class="font-bold header p-3 bg-blue-100 w-full mt-3 mb-5">Customer Detail</span>
        </div>

        <div class="w-full">
            <div class="md:flex">
                <div class="md:w-1/2 px-3 mb-3">
                    <app-label [for]="'Firstname'"></app-label>
                    <app-input-box [type]="'text'" [name]="'firstname'" [value]="firstName" [id]="'firstname'" [placeholder]="'Enter Firstname'" [disabled]="true"></app-input-box>
                </div>
                <div class="md:w-1/2 px-3 mb-3">
                    <app-label [for]="'Surname'"></app-label>
                    <app-input-box [type]="'text'" [name]="'surname'" [value]="surName" [id]="'surname'" [placeholder]="'Enter Surname'" [disabled]="true"></app-input-box>
                </div>
            </div>
            <div class="md:flex">
                <div class="md:w-1/2 px-3 mb-3">
                    <app-label [for]="'Phone Number'"></app-label>
                    <app-input-box [type]="'text'" [name]="'phone'" [value]="phoneNumber" [id]="'phone'" [placeholder]="'Enter Phone Number'" [disabled]="true"></app-input-box>
                </div>
                <div class="md:w-1/2 px-3 mb-3">
                    <app-label [for]="'Alternate Phone Number'"></app-label>
                    <app-input-box [type]="'text'" [name]="'phone-2'" [value]="phoneNumber" [id]="'phone-2'" [placeholder]="'Enter Alternate Phone Number'" [disabled]="true"></app-input-box>
                </div>
            </div>
            <div class="md:flex">            
                <div class="w-full mx-3 mb-6 md:mb-5">
                    <app-label [for]="'State'"></app-label>
                    <app-input-box [type]="'text'" [name]="'state'" [value]="''" [id]="'state'" [placeholder]="'e.g Lagos'" [disabled]="true"></app-input-box>
                </div>
            </div>
            <div class="md:flex">            
                <div class="w-full mx-3 mb-6 md:mb-5">
                    <app-label [for]="'Address'"></app-label>
                    <app-input-box [type]="'text'" [name]="'address'" [value]="''" [id]="'address'" [placeholder]="'Olusoji Idowu, Obanikoro'" [disabled]="true"></app-input-box>
                </div>
            </div>
        </div>

        <div class="flex w-full">
            <span class="font-bold header p-3 bg-blue-100 w-full mt-3 mb-5">Order Location</span>
        </div>

        <div class="w-full">
            <div class="md:flex">
                <div class="w-full px-3 mb-3">
                    <app-label [for]="'State'"></app-label>
                    <app-input-box [type]="'text'" [name]="'state'" [value]="''" [id]="'state'" [placeholder]="'e.g Lagos'" [disabled]="true"></app-input-box>
                </div>
            </div>
            <div class="md:flex">
                <div class="w-full px-3 mb-3">
                    <app-label [for]="'Area'"></app-label>
                    <app-input-box [type]="'text'" [name]="'area'" [value]="''" [id]="'area'" [placeholder]="'e.g MaryLand'" [disabled]="true"></app-input-box>
                </div>
            </div>
            <div class="md:flex">            
                <div class="w-full mx-3 mb-6 md:mb-5">
                    <app-label [for]="'Location'"></app-label>
                    <app-input-box [type]="'text'" [name]="'location'" [value]="''" [id]="'location'" [placeholder]="'e.g Leventis'" [disabled]="true"></app-input-box>
                </div>
            </div>
        </div>

        <div class="footer" style="margin: 0px 0px 5px 0px;">
            <div class="grid grid-cols-12 gap-6 px-3" select="footer">
                <div class="col-span-6">
                    <button (click)="modalService.showDialog = false" class="bg-red-800 hover:bg-red-600 hover:text-white text-gray-300 font-semibold py-2 px-4 border border-red-600 rounded shadow">
                        Cancel
                    </button>
                </div> 
                <div class="flex col-span-6 justify-end"></div>                
            </div>
        </div>

        <span class="w-full justify-center items-center text-white mt-1">-- ------- -------- --------  ------- ------ ---  -------- ------- ------ --- ---------- ------ ------ -------- --- ---- ---- ----- ---- ------- -- </span>
    </div>
</app-dialog>

<app-dialog *ngIf="modalService.addDialog">
    <div class="overflow-x-auto h-[700px] scrollbar-thin scrollbar-thumb-blue-200 scrollbar-track-red-400 hover:scrollbar-thumb-blue-400 px-5">
        <div class="flex w-full pl-1 pr-3 pt-1 mb-8 header justify-between bg-blue-100">
            <span class="font-bold header p-3 bg-blue-100 w-full">Make Order</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="round-full w-7 h-7 right cursor-pointer hover:fill-red-900 hover:border-2" (click)="modalService.addDialog = false">
                <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
            </svg> 
        </div>
        <div class="content overflow-x-auto scrollbar-thin scrollbar-thumb-blue-200 scrollbar-track-red-400 hover:scrollbar-thumb-blue-400">
            <div class="md:flex">
                <div class="w-full px-3 mb-3">
                    <app-label [for]="'Merchant'"></app-label>
                    <app-input-box [type]="'text'" [name]="'merchant'" [value]="''" [id]="'firstname'" [placeholder]="'Enter Merchant Name'"></app-input-box>
                </div>
            </div>
            <div class="md:flex">
                <div class="w-full px-3 mb-3">
                    <app-label [for]="'Product Name'"></app-label>
                    <app-input-box [type]="'text'" [name]="'productName'" [value]="''" [id]="'productName'" [placeholder]="'Enter Product Name'"></app-input-box>
                </div>
            </div>
            <div class="md:flex mb-3">
                <div class="md:w-1/2 px-3 mb-3">
                    <app-label [for]="'Amount'"></app-label>
                    <app-input-box [type]="'number'" [name]="'amount'" [value]="''" [id]="'amount'"></app-input-box>
                </div>
                <div class="md:w-1/2 px-3 mb-3">
                    <app-label [for]="'Quantity'"></app-label>
                    <div class="flex gap-2">                        
                        <app-input-box [type]="'number'" [name]="'productQuantity'" [value]="''" [id]="'productQuantity'"></app-input-box>
                        <span class="p-5 bg-red-700"></span>
                    </div>
                </div>
                <div class="md:w-1/2 px-3 mb-3">
                    <app-label [for]="'Discount'"></app-label>
                    <app-input-box [type]="'number'" [name]="'productDiscount'" [value]="''" [id]="'productDiscount'"></app-input-box>
                </div>
            </div>
            <div class="md:flex">
                <div class="w-full px-3 mb-3">
                    <app-label [for]="'Total'"></app-label>
                    <app-input-box [type]="'text'" [name]="'total'" [value]="''" [id]="'total'" [placeholder]="'Total'"></app-input-box>
                </div>
            </div>
        </div>

        <div class="footer" style="margin: 0px 0px 20px 0px;">
            <div class="grid grid-cols-12 gap-6 px-3" select="footer">
                <div class="col-span-6">
                    <button (click)="modalService.addOrderDialog = false" class="bg-red-800 hover:bg-red-600 hover:text-white text-gray-300 font-semibold py-2 px-4 border border-red-600 rounded shadow">
                        Clear
                    </button>
                </div> 
                <div class="flex col-span-6 justify-end">
                    <button (click)="modalService.addOrderDialog = false" class="bg-CompanyBlue hover:bg-purple-600 hover:text-white text-gray-300 font-semibold py-2 px-4 border border-purple-600 rounded shadow">
                        Add
                    </button>
                </div>                
            </div>
        </div>

        <div class="flex w-full">
            <span class="font-bold header p-3 bg-blue-100 w-full mt-3 mb-5">Add Customer Detail</span>
        </div>

        <div class="w-full">
            <div class="md:flex">
                <div class="md:w-1/2 px-3 mb-3">
                    <app-label [for]="'Firstname'"></app-label>
                    <app-input-box [type]="'text'" [name]="'firstname'" [value]="firstName" [id]="'firstname'" [placeholder]="'Enter Firstname'"></app-input-box>
                </div>
                <div class="md:w-1/2 px-3 mb-3">
                    <app-label [for]="'Surname'"></app-label>
                    <app-input-box [type]="'text'" [name]="'surname'" [value]="surName" [id]="'surname'" [placeholder]="'Enter Surname'"></app-input-box>
                </div>
            </div>
            <div class="md:flex">
                <div class="md:w-1/2 px-3 mb-3">
                    <app-label [for]="'Phone Number'"></app-label>
                    <app-input-box [type]="'text'" [name]="'phone'" [value]="phoneNumber" [id]="'phone'" [placeholder]="'Enter Phone Number'"></app-input-box>
                </div>
                <div class="md:w-1/2 px-3 mb-3">
                    <app-label [for]="'Alternate Phone Number'"></app-label>
                    <app-input-box [type]="'text'" [name]="'phone-2'" [value]="phoneNumber" [id]="'phone-2'" [placeholder]="'Enter Alternate Phone Number'"></app-input-box>
                </div>
            </div>
            <div class="md:flex">            
                <div class="w-full mx-3 mb-6 md:mb-5">
                    <app-label [for]="'State'"></app-label>
                    <app-input-box [type]="'text'" [name]="'state'" [value]="''" [id]="'state'" [placeholder]="'e.g Lagos'"></app-input-box>
                </div>
            </div>
            <div class="md:flex">            
                <div class="w-full mx-3 mb-6 md:mb-5">
                    <app-label [for]="'Address'"></app-label>
                    <app-input-box [type]="'text'" [name]="'address'" [value]="''" [id]="'address'" [placeholder]="'Olusoji Idowu, Obanikoro'"></app-input-box>
                </div>
            </div>
        </div>

        <div class="content overflow-auto h-[250px] scrollbar-thin scrollbar-thumb-blue-200 scrollbar-track-red-400 hover:scrollbar-thumb-blue-400 w-full border border-purple-600">
            <app-table [Header]="Header[0].product" [TableType]="'products'" [RowAndColumn]="RowAndColumn[0]['products']" [Action]="Action" [ViewAction]="ViewAction"></app-table>
        </div>
        <div class="md:flex mt-2 mb-3">
            <div class="w-full px-1 mb-3">
                <app-label [for]="'Total Order'"></app-label>
                <app-input-box [type]="'text'" [name]="'totalOrder'" [value]="''" [id]="'totalOrder'" [placeholder]="'Total Order'"></app-input-box>
            </div>
        </div>

        <div class="footer" style="margin: 20px 0px 5px 0px;">
            <div class="grid grid-cols-12 gap-6 px-3" select="footer">
                <div class="col-span-6">
                    <button (click)="modalService.addDialog = false" class="bg-red-800 hover:bg-red-600 hover:text-white text-gray-300 font-semibold py-2 px-4 border border-red-600 rounded shadow">
                        Cancel
                    </button>
                </div> 
                <div class="flex col-span-6 justify-end">
                    <button (click)="modalService.addDialog = false" class="bg-CompanyBlue hover:bg-purple-600 hover:text-white text-gray-300 font-semibold py-2 px-4 border border-purple-600 rounded shadow">
                        Submit Order
                    </button>
                </div>                
            </div>
        </div>
        <span class="w-full justify-center items-center text-white mt-1">-- ------- -------- --------  ------- ------ ---  -------- ------- ------ --- ---------- ------ ------ -------- --- ---- ---- ----- ---- ------- -- </span>
    </div>
</app-dialog>

<app-dialog *ngIf="modalService.closeDialog">
    <div class="flex w-full pl-1 pr-3 pt-3 mb-8 header justify-between bg-blue-100">
        <span class="font-bold header p-3 bg-blue-100 w-full">Delete Order</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="round-full w-7 h-7 right cursor-pointer hover:fill-red-900 hover:border-2" (click)="modalService.closeDialog = false">
            <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg> 
    </div>
    <div class="content">
        <div class="w-full justify-center items-center p-5 mb-10">
            <h1>You are about delete merchant UNILEVER UNILEVER UNILEVER from the system</h1>
        </div>
    </div>
    <div class="footer">
        <div class="grid grid-cols-12 gap-6 mb-5" select="footer">
            <div class="col-span-6">
                <button (click)="modalService.closeDialog = false" class="bg-red-800 hover:bg-red-600 hover:text-white text-gray-300 font-semibold py-2 px-4 border border-red-600 rounded shadow">
                    Cancel
                </button>
            </div> 
            <div class="flex col-span-6 justify-end">
                <button class="bg-CompanyBlue hover:bg-purple-600 hover:text-white text-gray-300 font-semibold py-2 px-4 border border-purple-600 rounded shadow">
                    Delete
                </button>
            </div>                
        </div>
    </div>
</app-dialog>

<app-dialog *ngIf="modalService.showOrderDialog">
    <div class="flex w-full pl-1 pr-3 pt-3 mb-8 header justify-between bg-blue-100 -mt-3">
        <span class="font-bold header p-3 bg-blue-100 w-full text-center">Confirm Customer Availability</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="round-full w-7 h-7 right cursor-pointer hover:fill-red-900 hover:border-2" (click)="modalService.showOrderDialog = false">
            <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg> 
    </div>
    <div class="content">
        <div class="w-full justify-center items-center p-1 mb-1">
            <h1 class="text-white">You are about delete merchant UNILEVER UNILEVER UNILEVER from the system</h1>
        </div>
    </div>
    <div class="footer">
        <div class="grid grid-cols-12 gap-6 mb-10" select="footer">
            <div class="col-span-3"></div>
            <div class="col-span-3">
                <button (click)="modalService.showOrderDialog = false"class="bg-red-800 hover:bg-red-600 hover:text-white text-gray-300 font-semibold py-2 px-4 border border-red-600 rounded shadow">
                    Available
                </button>
            </div> 
            <div class="flex col-span-3 justify-end">
                <button (click)="modalService.showOrderDialog = false" class="bg-CompanyBlue hover:bg-purple-600 hover:text-white text-gray-300 font-semibold py-2 px-4 border border-purple-600 rounded shadow">
                    Not Available
                </button>
            </div>     
            <div class="col-span-3"></div>           
        </div>
    </div>
</app-dialog>

<app-dialog *ngIf="modalService.showPlaceOnShelfDialog">
    <div class="flex w-full pl-1 pr-3 pt-3 mb-8 header justify-between bg-blue-100">
        <span class="font-bold header p-3 bg-blue-100 w-full">Place Order On Shelve</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="round-full w-7 h-7 right cursor-pointer hover:fill-red-900 hover:border-2" (click)="modalService.showPlaceOnShelfDialog = false">
            <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg> 
    </div>
    <div class="content overflow-x-auto h-96 scrollbar-thin scrollbar-thumb-blue-200 scrollbar-track-red-400 hover:scrollbar-thumb-blue-400">
        <div class="md:flex">
            <div class="w-full px-3 mb-3">
                <app-label [for]="'States'"></app-label>
                <app-select [options]="states"></app-select>
            </div>
        </div>
        <div class="md:flex">
            <div class="w-full px-3 mb-3">
                <app-label [for]="'Area'"></app-label>
                <app-select [options]="areas"></app-select>
            </div>
        </div>
        <div class="md:flex">
            <div class="w-full px-3">
                <app-label [for]="'Location'"></app-label>
                <app-select [options]="destinations"></app-select>
            </div>
        </div> 
    </div>
    <div class="footer" style="margin-top: -60px;">
        <div class="grid grid-cols-12 gap-6 px-3" select="footer">
            <div class="col-span-6">
                <button (click)="modalService.showPlaceOnShelfDialog = false" class="bg-red-800 hover:bg-red-600 hover:text-white text-gray-300 font-semibold py-2 px-4 border border-red-600 rounded shadow">
                    Cancel
                </button>
            </div> 
            <div class="flex col-span-6 justify-end">
                <button (click)="modalService.showPlaceOnShelfDialog = false" class="bg-CompanyBlue hover:bg-purple-600 hover:text-white text-gray-300 font-semibold py-2 px-4 border border-purple-600 rounded shadow">
                    Place
                </button>
            </div>                
        </div>
    </div>
    <span class="w-full justify-center items-center text-white mt-1">-- --------- ------ ---------- ------ ------ -------- --- ---- ---- ----- ---- ------- -- </span>
</app-dialog>

<app-dialog *ngIf="modalService.deliveredDialog">
    <div class="flex w-full pl-1 pr-3 pt-3 mb-8 header justify-between bg-blue-100">
        <span class="font-bold header p-3 bg-blue-100 w-full">Order Status</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="round-full w-7 h-7 right cursor-pointer hover:fill-red-900 hover:border-2" (click)="modalService.deliveredDialog = false">
            <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg> 
    </div>
    <div class="content overflow-x-auto scrollbar-thin scrollbar-thumb-blue-200 scrollbar-track-red-400 hover:scrollbar-thumb-blue-400">
        
        <div class="md:flex">
            <div class="w-full px-3 mb-3">
                <app-label [for]="'Has rider deliver order'"></app-label>
                <app-select [options]="deliveryStatus" (changedOption)="theChangeOption($event)"></app-select>
            </div>
        </div>
        <ng-container [ngSwitch]="orderStatus">
            <div *ngSwitchCase="'yesBut'">
                <div class="md:flex mb-3">
                    <div class="md:w-1/2 px-3 mb-3">
                        <app-label [for]="'All Ordered Product'"></app-label>
                        <app-input-box [type]="'text'" [name]="'allOrderedProduct'" [value]="'All'" [id]="'allOrderedProduct'" [disabled]="true"></app-input-box>
                    </div>
                    <div class="md:w-1/2 px-3 mb-3">
                        <app-label [for]="'Prefered Amount'"></app-label>
                        <app-input-box [type]="'number'" [name]="'preferedAmount'" [value]="''" [id]="'preferedAmount'" [placeholder]="'23,000'" [disabled]="true"></app-input-box>
                    </div>
                </div>
                <div class="md:flex mb-3">
                    <div class="md:w-1/2 px-3 mb-3">
                        <app-label [for]="'Quantity Returned'"></app-label>
                        <app-input-box [type]="'number'" [name]="'quantityReturned'" [value]="''" [id]="'quantityReturned'"></app-input-box>
                    </div>
                    <div class="md:w-1/2 px-3 mb-3">
                        <app-label [for]="'Amount Paid'"></app-label>
                        <app-input-box [type]="'number'" [name]="'amountPaid'" [value]="''" [id]="'amountPaid'"></app-input-box>
                    </div>
                </div>
                <div class="md:flex">           
                    <div class="w-full mx-3 mb-6 md:mb-5">
                        <app-label [for]="'Give Reason'"></app-label>
                        <app-text-area [message]="reason" [name]="'reason'" [id]="'reason'" [cols]="35" [rows]="5" [placeholder]="'Tell us what happened'"></app-text-area>
                    </div>
                </div>
            </div>
            
            <div *ngSwitchCase="'yes'">
                <div class="md:flex mb-5">
                    <div class="md:w-1/2 px-3 mb-3">
                        <app-label [for]="'All Ordered Product'"></app-label>
                        <app-input-box [type]="'text'" [name]="'allOrderedProduct'" [value]="'All'" [id]="'allOrderedProduct'" [disabled]="true"></app-input-box>
                    </div>
                    <div class="md:w-1/2 px-3 mb-3">
                        <app-label [for]="'Prefered Amount'"></app-label>
                        <app-input-box [type]="'number'" [name]="'preferedAmount'" [value]="''" [id]="'preferedAmount'" [placeholder]="'23,000'" [disabled]="true"></app-input-box>
                    </div>
                </div>
            </div>
            
            <div class="md:flex mb-3" *ngSwitchCase="'no'">           
                <div class="w-full mx-3 mb-6 mb-5">
                    <app-label [for]="'Give Reason'"></app-label>
                    <app-text-area [message]="reason" [name]="'reason'" [id]="'reason'" [cols]="35" [rows]="5" [placeholder]="'Tell us what happened'"></app-text-area>
                </div>                
            </div>
            
            <div class="md:flex mb-3" *ngSwitchDefault>           
                <div class="w-full mx-3 mb-3"> </div>           
            </div>
        </ng-container>
    </div>
    <div class="footer" style="margin-top: -10px;">
        <div class="grid grid-cols-12 gap-6 px-3" select="footer">
            <div class="col-span-6">
                <button (click)="modalService.deliveredDialog = false" class="bg-red-800 hover:bg-red-600 hover:text-white text-gray-300 font-semibold py-2 px-4 border border-red-600 rounded shadow">
                    Cancel
                </button>
            </div> 
            <div class="flex col-span-6 justify-end">
                <button (click)="modalService.deliveredDialog = false" class="bg-CompanyBlue hover:bg-purple-600 hover:text-white text-gray-300 font-semibold py-2 px-4 border border-purple-600 rounded shadow">
                    Place
                </button>
            </div>                
        </div>
    </div>
    <span class="w-full justify-center items-center text-white mt-1">-- --------- ------ ---------- ------ ------ -------- --- ---- ---- ----- ---- ----- --- ---- ---- ----- ---- ----- -- -- </span>
</app-dialog>

<app-dialog *ngIf="modalService.assignOrderDialog">
    <div class="flex w-full pl-1 pr-3 pt-3 mb-8 header justify-between bg-blue-100">
        <span class="font-bold header p-3 bg-blue-100 w-full">Select Rider</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="round-full w-7 h-7 right cursor-pointer hover:fill-red-900 hover:border-2" (click)="modalService.assignOrderDialog = false">
            <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg> 
    </div>
    <div class="content overflow-x-auto scrollbar-thin scrollbar-thumb-blue-200 scrollbar-track-red-400 hover:scrollbar-thumb-blue-400">
        
        <div class="md:flex">
            <div class="w-full px-3 mb-3">
                <app-label [for]="'Find Rider'"></app-label>
                <app-select [options]="riders"></app-select>
            </div>
        </div>
    </div>
    <div class="footer" style="margin-top: 0px;">
        <div class="grid grid-cols-12 gap-6 px-3" select="footer">
            <div class="col-span-6">
                <button (click)="modalService.assignOrderDialog = false" class="bg-red-800 hover:bg-red-600 hover:text-white text-gray-300 font-semibold py-2 px-4 border border-red-600 rounded shadow">
                    Cancel
                </button>
            </div> 
            <div class="flex col-span-6 justify-end">
                <button (click)="modalService.assignOrderDialog = false" class="bg-CompanyBlue hover:bg-purple-600 hover:text-white text-gray-300 font-semibold py-2 px-4 border border-purple-600 rounded shadow">
                    Assign
                </button>
            </div>                
        </div>
    </div>
    <span class="w-full justify-center items-center text-white mt-1">-- --------- ------ ---------- ------ ------ -------- --- ---- ---- ----- ---- ------- -- </span>
</app-dialog>