/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f6f6;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* background: #f6c5f2; */
    --tw-bg-opacity: 1;
    background-color: rgb(248 113 113 / var(--tw-bg-opacity));
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: #555; */
    --tw-bg-opacity: 1;
    background-color: rgb(191 219 254 / var(--tw-bg-opacity));
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /* background: #aa09d2; */
    --tw-bg-opacity: 1;
    /* background-color: rgb(37 99 235 / var(--tw-bg-opacity)); */
  }

  /* scrollbar-thin scrollbar-thumb-blue-200 scrollbar-track-red-400 */

  .minHeight {
     min-height: 4px;
  }