#container {
    width: 70%;
    height: 600px;
    box-shadow: 5px 5px 6px #ccc;
    border-radius: 10px;
    background-color: white;
}

:host {
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100px;
  background-color: none;
  align-items: center;
  justify-content: center;
}