
<div 
    class="flex h-screen justify-center items-center bg-TrasParentBG p-10 relative"
    (click)="CloseCurrentModal()"
>
    <div 
        class="flex flex-col shadow-md rounded flex flex-col z-50 py-5 px-2 m-5 absolute"
        [ngClass]="wideTall"
        (click)="doNotClose($event)"
    > 
        <div 
            class="rounded-md bg-white"
        >          
            <div 
                class="flex w-full pl-1 bg-blue-100 -mt-3 flex-start border-2"
            >
                <span 
                    class="font-bold bg-blue-100 w-full text-left pl-3 pt-3 uppercase"
                >
                    {{ title }}
                </span>
                <span
                    class="bg-red-700 p-3"
                > 
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="round-full w-7 h-7 right cursor-pointer hover:fill-yellow-500" (click)="CloseCurrentModal()">
                    <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                  </svg> 
                </span>
            </div>

            <div 
                select="content py-3"
            >
                <ng-content></ng-content>
            </div>

            <div 
                select="footer"
                class="bg-gray-0 py-3"
            >
                <ng-content></ng-content>
            </div> 
        </div>           
            
    </div>
</div>